/* LAYOUT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-repeat: no-repeat;
    background-image: url(../images/pattern-background-desktop.svg);
    background-size: 100%;
    background-color: #E1E9Ff;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
}

.container {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    max-width: 450px;
    box-shadow: 0px 18px 13px 6px hsl(229, 79%, 89%);
}

.card {
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    padding: 10px 45px;
}

.card-text, .button, .cancel-order {
    text-align: center;
}

/* card-text area */
.card-text {
    margin-top: 20px;
}

.card-text p {
    padding: 0 30px;
    line-height: 1.6;
}

/* card-subscription area */
.pay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    padding: 25px;
    border-radius: 10px;
    line-height: 1.6;
}

ul {
    margin-left: -70px;
}

li {
    list-style: none;
}

.change-link {
    font-weight: 900;
    font-size: .9rem;
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
}

.change-link:hover {
    cursor: pointer;
    color: hsl(281, 83%, 62%);
}

/* button & cancel-order areas */
button {
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: .975rem;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    box-shadow: 0px 18px 13px 6px hsl(247, 60%, 91%);
}

button:hover {
    cursor: pointer;
    background-color: hsl(245, 58%, 58%);
}

.cancel-order {
    margin: 10px 0 30px 0;
}

.cancel {
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    font-size: 1rem;
}

.cancel:hover {
    cursor: pointer;
    color: hsl(223, 19%, 30%);
}


/* TYPOGRAPHY */

h1, h2 {
    color: hsl(223, 47%, 23%);
}

h1 {
    font-weight: 900;
    margin: 15px 0 20px;
    font-size: 1.7rem;
}

h2 {
    font-size: 1rem;
    font-weight: 900;
}

p, h3 {
    color: hsl(224, 23%, 55%)
}

h3 {
    font-weight: 700;
    font-size: 1rem;
}


/* MOBILE VERSION */
@media only screen and (max-width: 433px) {
    body {
        background-image: url(../images/pattern-background-mobile.svg);
    }
    .container {
        max-width: 350px;
    }
    .row {
        padding: 0 20px;
    }
    h1 {
        font-size: 1.5rem;
    }
    .card-text p {
        font-size: 1.1rem;
        padding: 0 5px 20px 5px;
    }
    .pay {
        padding: 20px;
    }
    ul {
        margin-left: -30px;
    }
    .btn {
        padding: 15px 20px;
    }
}
